.interstellar-turbulence{
  section{
    display: flex;
    flex-direction: column;
  }
  img, section{
    width: 100%;
  }
  h2:not(:first-of-type){
    margin-top: 102px;
  }
  @media screen and (min-width: 1100px){
    section{
      flex-direction: row;
      &:nth-of-type(2n){
        flex-direction: row-reverse;
        img{
          margin-left: 10%
        }
      }
      &:nth-of-type(2n+1){
        img{
          margin-right: 10%
        }
      }
    }
    img{
      width: 60%;
    }
    .caption{
      width: 30%;
    }
  }


}
